@import "@/styles/colors.scss";

.my-select {
  padding: 0 15px;
  font-size: 1.7rem;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  text-align: center;

  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;

  cursor: pointer;
}
