@import "@/styles/colors.scss";
@import "@/styles/selectStyles";
@import "@/styles/homePageStyles";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  // font-family: "Rock Salt", cursive;
}

.app {
  padding: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rock Salt", cursive;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .header__link {
    margin-right: 2rem;

    color: $dark;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $dark-red;
    }
  }

  .router-link-active {
    color: $dark-red;
  }

  &__btn {
    padding: 15px;
    width: 150px;
    border: none;
    outline: none;
    background: none;

    border: 1px solid $gray;
    cursor: pointer;

    &:hover {
      background-color: $gray;
    }
  }
}
